<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendação por Similaridade</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="heroSection" class="d-flex align-items-center mb-5">
    <div id="heroText" class="ms-3">
        <h1 id="titulo">Recomendação por Similaridade</h1>
        <p>Navegue pelo dataset
            <a href="https://www.kaggle.com/vikashrajluhaniwal/fashion-images">E-commerce Product Images</a>
            e clique em alguma imagem para mostrar os 3 produtos mais parecidos dentro do dataset.
        </p>
        <p>Para mais detalhes, confira meu <a href="https://github.com/miguel-mb-cell/Recomendacao-Por-Imagem">repositório</a> no GitHub!</p>
    </div>
</div>
<div class="container mt-5">

    <div class="d-flex justify-content-center mb-4">
        <div class="dropdown mx-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="roupasDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Roupas Infantis
            </button>
            <ul class="dropdown-menu" aria-labelledby="roupasDropdown">
                <li><a class="dropdown-item filter-link" href="#" data-filter="apparel=Boys">Meninos</a></li>
                <li><a class="dropdown-item filter-link" href="#" data-filter="apparel=Girls">Meninas</a></li>
            </ul>
        </div>

        <div class="dropdown mx-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="sapatosDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Sapatos
            </button>
            <ul class="dropdown-menu" aria-labelledby="sapatosDropdown">
                <li><a class="dropdown-item filter-link" href="#" data-filter="footwear=Men">Masculino</a></li>
                <li><a class="dropdown-item filter-link" href="#" data-filter="footwear=Women">Feminino</a></li>
            </ul>
        </div>
    </div>

    <div class="container mt-5">    
        <div class="row mb-3">
            {% for image in images %}
            <div class="col-md-4 position-relative d-flex justify-content-center">
                <div class="image-container" data-bs-toggle="modal" data-bs-target="#imageModal">
                    <img src="{{ image }}" class="img-fluid rounded mb-3" alt="Image">
                    <div class="overlay">
                        Clique para mostrar as recomendações
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    
        <div class="modal fade" id="imageModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title">Produtos semelhantes</h5>
                    </div>
                    <div class="modal-body"></div>
                    <div id="loader">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="d-flex justify-content-between mb-3">
        <a href="{{ url_for('main.index', page=page-1, apparel=apparel, footwear=footwear) }}" class="btn btn-secondary {% if page <= 1 %}disabled{% endif %}">
            Anterior
        </a>
        <span class="d-flex align-items-center">Página {{ page }} de {{ total_pages }}</span>
        <a href="{{ url_for('main.index', page=page+1, apparel=apparel, footwear=footwear) }}" class="btn btn-secondary {% if page >= total_pages %}disabled{% endif %}">
            Próximo
        </a>
    </div>
</div>

<script src="/static/js/filtro.js"></script>
<script src="/static/js/galeria_de_imagens.js"></script>
<script src="/static/js/three.min.js"></script>
<script src="/static/js/vanta.net.min.js"></script>
<script>
VANTA.NET({
  el: "#heroSection",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  height: 450.00,
  minWidth: 900.00,
  scale: 1.00,
  scaleMobile: 1.00,
  color: 0xd6efd,
  backgroundColor: 0xdedede,
  maxDistance: 23.00,
  spacing: 15.00,
  points: 6.50
})
</script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
